{% extends "recetas/inicio.html" %}

{% block contenido %}
    <section>
        <div>
    <h1>Lista de recetas<p></p></h1>
    
    <ul>
        {% for recipes in recetas %}
            <li><h3>{{ recipes.nombre }}</h3>,Tiempo de preparación: {{recipes.tiempo_de_preparacion}},<p></p> Material necesario: {{recipes.equipos_para_la_preparacion}},<p></p> Ingredientes: {{recipes.ingredientes}},<p></p> Consejos: {{recipes.consejos}}<p></p></li>
        {% endfor %}
            </div>
        </ul>
    </section>
{% endblock contenido %}
tiempo_de_preparacion = models.CharField(max_length=24)
equipos_para_la_preparacion = models.CharField(max_length=256)
ingredientes = models.CharField(max_length=512)
consejos = model